@import url(http://fonts.googleapis.com/css?family=Ribeye+Marrow);

body {
  font-family: Ribeye Marrow;
  margin: 0;
  padding: 0;
  padding-left: 40%;
}

form {
  position: fixed;
  left: 10%;
  top: 20%;
  width: 30%;
}

p {
  margin: 0;
}

.org_title {
  margin-top: 2%;
}

.bar {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  font: 10px sans-serif;
  // background-color: steelblue;
  text-align: right;
  padding: 10px;
  margin: 5px;
  color: white;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
